.site_header {
  padding: 2.875rem 2.6875rem;
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  gap: 2.6875rem;
  font-family: var(--font-menu);
  font-weight: 300;
}

.site_nav {
  ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }
}

.nav_list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav_item {
  padding: 0.5rem 0;
  a {
    font-family: var(--font-menu);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: inherit;
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: clamp(0.875rem, 1.5vw, 1.125rem);
    
    &:hover {
      color: var(--primary-color);
      transform: translateY(-2px);
    }
  }
}

.logo_link {
  display: inline-block;
}

.site_logo {
  height: auto;
}

.header_actions {
  display: flex;
  align-items: center;
}
