:root {
  --primary-color: #B2522C;
  --secondary-color: #F2F2F2;
  --text-color: #333;
  --bg-color-light: #F5F5F5;
  --bg-color-dark: #333;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.primary {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: var(--bg-color-light);
      color: hsl(var(--primary-color, 0.8));
    }
  }

  &.secondary {
    border: 1px solid black;
    
    &:hover {
      background-color: var(--bg-color-dark);
      color: var(--secondary-color);
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}
