.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

.main {
  grid-area: main;
}

.site_header {
  grid-area: header;
}

.site-footer {
  grid-area: footer;
}

