.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.main {
  grid-area: main;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.site_header {
  grid-area: header;
}

.site-footer {
  grid-area: footer;
}
