#bean01 {
  position: absolute;
  width: 89.35px;
  height: 134.25px;
  left: 95.87px;
  top: 0px;

  background: radial-gradient(70.09% 44.39% at 70.74% 65.83%, rgba(165, 128, 117, 0.42) 0%, rgba(76, 28, 9, 0.42) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , radial-gradient(32.98% 18.38% at 60.58% 22.18%, rgba(121, 99, 94, 0.61) 0%, rgba(84, 23, 2, 0.61) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , radial-gradient(55.19% 55.19% at 33.96% 63.59%, rgba(185, 183, 182, 0.9) 0%, rgba(51, 20, 15, 0.9) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  box-shadow: inset -14px -10px 6px #49332B;
  transform: rotate(45.57deg);

}

#bean02 {
  position: absolute;
  width: 44.58px;
  height: 61.81px;
  left: 0px;
  top: 26.02px;

  background: #000000;
  box-shadow: 2px 2.7981px 8.2px rgba(82, 51, 40, 0.43), inset 6.79538px 0px 5.03658px rgba(64, 39, 30, 0.81), inset -3.59755px -5.99592px 5.03658px rgba(22, 8, 2, 0.81), inset 25.5826px -2.7981px 2.39837px #663B2B, inset -13.9905px 1.59891px 1.59891px rgba(106, 60, 44, 0.78), inset 33.9769px 10.7927px 1.63889px rgba(45, 29, 22, 0.5), inset 30.7791px -4.39701px 1.59891px rgba(167, 111, 88, 0.38), inset -28.7804px -16.3889px 3.11788px #3A2B25;
  transform: rotate(-35.7deg);
}
